body{
   margin: 0;
   padding: 0;
}

header {
    height: 50px;
    background-color: #C5A572;
}

.container {
    height: 50px;
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}

.name {
    flex: 1;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}

.contatos {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

img{
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.wppMaior img{
    height: 37px;
    width: 37px;
}

.imagemArea {
    margin-top: 3px;
    border-left: 5px;
}

/* Fim do Header */

.Banner {
    height: calc(100vh - 300px);
    background-image: url("./imagens/Banner.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.textArea {
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 800px;
    font-size: 50px;
    font-style: bold;
    font-style: italic;
}

.Local{
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 800px;
    font-size: 25px;
    font-style: bold;
    font-style: italic;
}

/* Fim do Banner */

.descriçao {
    max-width: 1300px;
    align-items: center;
    margin: auto;

}

.descriçaoTap h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: black;
    font-style: italic;
}


.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 10px;
    background-color: #C5A572;
}

/* Fim do titulo */

.descriçaoLocal {
    max-width: 1300px;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.imagemLocal-Pizza {
    margin-top: 50px;
    height: 400px;
    width: 400px;
}

.infoLocal {
    flex: 1;
    margin-left: 50px;
    margin-top: 50px;
}

.titleLocal {
    font-size: 40px;
    font-style: bold;
    color: black;
}

.infoLocal h2 {
    font-size: 20px;
    font-style: normal;
    text-align: justify;
}

.titleEstrutura {
    font-size: 40px;
    font-style: bold;
    color: black;
}

.line-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 10px;
    background-color: #C5A572; 
    max-width: 1300px;
    margin: auto;
    display: flex;
}
/* Segunda Section */

.descriçaoApp{
    display: flex;
    align-items: center;
    max-width: 1300px;
    justify-content: center;
    margin: auto;
    justify-content: space-between;
}

.appImg{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#primeiro{
    margin-left: 70px;
}

#segundo {
    margin-right: 70px;
}

#segundo {
    margin-right: 70px;
}

/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.footerCreator {
    color: white;
    line-height: 25px;
}

.footerCreator-title{
    font-style: italic;
    font-size: 15px;
}

.footerCreator-author {
    font-size: 20px;
    font-style: bold;
    margin-left: -12px;
}